<h1 class="pink-call">
	WHO ARE WE 

</h1>
<p class="medium-text">
	Touristly is a unique and exciting travel platform that provides a complete range of offerings for all your travel needs. We believe that the travel experience begins from the moment you start to plan your trip. From experiential activities, delectable dining escapades to travel-centric products you can find all you need to create the perfect travel experience for trips of all nature. 

</p>

<h1 class="pink-call">
	HOW OUR SITE WORKS


</h1>
<p class="medium-text">
	Touristly believes that travel planning is an experience on itself and with the right tools it can be easy and exciting. Touristly travellers will be able to plan trips with their friends and family or both; travellers can plan multiple trips with different groups at the same time. Not only that travellers can chat, shop, ‘itinerize’ and personalize their travel plans.

</p>

<h1 class="pink-call">
	It all begins with 3 easy steps:



</h1>
<p class="medium-text">
	<ul id="mainNav" class="fourStep padding-top15">
			<li class="medium-text"><em>Step 1:</em><span> SELECT YOUR
 DESTINATION
</span></li>
			<li class="medium-text"><em>Step 2:</em><span> SELECT YOUR
TRAVEL DATES
</span></li>
			<li class="medium-text"><em>Step 3:</em><span> INVITE YOUR 
FRIENDS TO 
JOIN YOUR 
TRIP
</span></li>
			<li class="medium-text"><em> START PLANNING:
</em><span>YOUR TRIP!
</span></li>
		</ul>

</p>