<p id="notice"><%= notice %></p>

<p>
  <strong>Emailaddress:</strong>
  <%= @preview_sign_up.EmailAddress %>
</p>

<%= link_to 'Edit', edit_preview_sign_up_path(@preview_sign_up) %> |
<%= link_to 'Back', preview_sign_ups_path %>
